body {
    background-color: white;
    box-sizing: border-box; 
    display: flex;
  flex-direction: column; 
  margin: 0;
}
.sections {
  display: flex; 
  flex-direction: column; 
  min-height: 100vh;
  align-items: stretch;
}

.navbar {
display: flex;
  background-color: black; 
  position: fixed; 
  overflow: hidden; 
  justify-content: space-around;
  top: 0;
  width: 100%;
  height: 20px; 
  font-family: 'Arapey', serif;
  font-size: 20px
}



.bg_black {
background-color: black; 
color: white;
  height: 90%;
}

.bg_black:hover {

color: pink; 

}

.bg_white:hover {
background-color: black; 
color: pink;
}

.navbar text{ 

}

.navbar text:hover{

}


.name {
  background-color: white;
  margin-top: 8px; 
  min-height: 45px; 
  text-align: center; 
  font-family: 'Permanent marker', cursive;
  font-size: 40px; 
  color: pink; 
}

#about_pic {
      border-color: black;
      border-width: 6.75px; 
      border-style: double dotted double dotted;
      border-radius: 100%;
      width: 100px; 
      height: 100px;
}

img.center {
display: block;
margin-left: auto;
margin-right: auto;
}

.about {
    background-color: white;
  flex: 4;
}

.projects { 
    background-color: black;
  flex: 1;
}


/* @media (min-width: 768px) {

}


@media (min-width: 960px) {

}


@media (min-width: 1200px) {

} */